%div{"ng-controller" => "#{params[:controller].camelize}Controller", "ng-init" => "init();"}
  #panel-list.show.panel.panel-default
    .panel-heading
      %h4
        %i.fa.fa-list.fa-lg{"ng-bind" => "' ' + title"}
    .panel-body
      .clearfix
        -# 工具栏
        = yield :list_toolbar

      = render "admin/shared/list"

  #panel-edit.hidden.panel.panel-primary{"auto-focus" => true}
    .modal-header.label-primary
      %a.close{:title => "关闭", "ng-click" => "closeEdit();"} &times;
      %h4
        %i.fa.fa-edit.fa-lg{"ng-bind" => "' ' + title"}

    .panel-body
      %input#hidePrimaryKeyID{:type => "hidden", :value => "{{itemModel.id}}"}
      %form#editForm.form-horizontal{"ng-keyup" => "$event.keyCode === 13 && save();"}
        -# 表单
        = yield :edit_form_controls

    .panel-footer.text-center
      %a.btn.btn-primary.btn-save{:title => "保存", "ng-click" => "save();"}
        %i.fa.fa-save.fa-lg
      %a.btn.btn-default{:title => "关闭", "ng-click" => "closeEdit();"}
        %i.fa.fa-times.fa-lg
