.panel.panel-success
  .panel-heading
    %h1{"ng-if" => "name"} Hello, {{name}}
    = ::Rails.application.config.app_admin_name
  .panel-body
    %form.form-inline
      .form-group
        %input.form-control{:type => "text", :placeholder => "Enter your name",  :autofocus => true, "ng-model" => "name"}
