%div{"ng-controller" => "BaseListController"}
  %div{"ng-controller" => "#{params[:controller].camelize}Controller"}
    %div{"ng-switch" => true, :on => "show_list_edit"}
      #panel-list.animate-switch{"ng-switch-when" => "list"}
        .panel.panel-default
          .panel-heading
            %h4
              %i.fa.fa-list.fa-lg{"ng-bind" => "' ' + title"}
          .panel-body
            .col-lg-8.input-group.pull-left
              %a.btn.btn-success{:title => "添加", "ng-click" => "edit({});"}
                %i.fa.fa-plus
              %a#btnBatchDelete.btn.btn-danger{:title => "批量删除", "ng-click" => "batchDelete(selection);"}
                %i.fa.fa-trash-o
            .col-lg-4.input-group.pull-right
              %input.form-control{:type => "text", :name => "q", :placeholder => "请输入搜索关键字", "ng-model" => "keyword"}
              %span.input-group-btn
                %a.btn.btn-primary{:title => "搜索", "ng-click" => "search(keyword);"}
                  %i.fa.fa-search

          %table.table.table-striped.table-hover.table-bordered{"ng-init" => "init()"}
            %thead
              %tr
                %th.text-center
                  %input#controllerName{:type => "hidden", :value => "{{controller}}"}
                  %input#primaryKey{:type => "hidden", :value => "{{primaryKey}}"}
                  %input{:type => "checkbox"}
                %th.text-center 名称
                %th.text-center 操作
            %tbody#list
              %tr{"ng-repeat" => "item in list.data"}
                %td{:width => "2%"}
                  %input{:type => "hidden", :value => "{{item.id}}"}
                  %input{:type => "checkbox", "ng-model" => "item.$$checked", "ng-change" => "onSelect(item)"}
                %td{"ng-bind" => "item.username"}
                %td.text-center
                  %a.btn.btn-sm.btn-primary{:title => "授权", "ng-click" => "editMenu(item);"}
                    %i.fa.fa-user.fa-lg
                  %a.btn.btn-sm.btn-primary{:title => "编辑", "ng-click" => "edit(item);"}
                    %i.fa.fa-edit.fa-lg
                  %a.btn.btn-sm.btn-primary{:title => "删除", "ng-click" => "delConfirm(item);"}
                    %i.fa.fa-trash-o.fa-lg

        .text-center{"ng-if" => "list.data.length == 0"}
          %code 没有数据

        #paging.panel-body{:compile => "htmlPaging"}

      #panel-edit.animate-switch{"ng-switch-when" => "edit"}
        .panel.panel-primary
          .modal-header.label-primary
            %a.close{:title => "关闭", "ng-click" => "closeEdit();"} &times;
            %h4
              %i.fa.fa-edit.fa-lg{"ng-bind" => "' ' + title"}

          .panel-body
            %input#hidePrimaryKeyID{:type => "hidden", :value => "{{itemModel.id}}"}
            %form#editForm.form-horizontal
              .form-group
                %label.col-md-2.control-label{:for => "username"} 名称
                .col-md-10
                  %input#username.form-control{"ng-model" => "itemModel.username", :type => "text", :placeholder => "名称", :maxlength => "20", :required => "true"}
              .form-group
                %label.col-md-2.control-label{:for => "passowrd"} 密码 
                .col-md-10
                  %input#password.form-control{"ng-model" => "itemModel.password", :type => "password", :placeholder => "密码", :maxlength => "20", :required => true}

          .panel-footer.text-center
            %a.btn.btn-primary.btn-save{:title => "保存", "ng-click" => "save()"}
              %i.fa.fa-save.fa-lg
            %a.btn.btn-default{:title => "关闭", "ng-click" => "closeEdit();"}
              %i.fa.fa-times.fa-lg
					
-# - content_for :scripts do
-#  = javascript_include_tag "admin/base_list" if ::Rails::application.assets.find_asset("admin/base_list.js")

