- content_for :list_toolbar do
  = render "admin/shared/toolbar_normal"

- content_for :list_thead do
  %th.text-center 名称
  
- content_for :list_tbody do
  %td{"ng-bind" => "item.username"}

- content_for :list_buttons do
  %a.btn.btn-sm.btn-primary{:title => "授权", "ng-click" => "editMenu(item);"}
    %i.fa.fa-user.fa-lg
  = render "admin/shared/btn_edit"
  = render "admin/shared/btn_delete"

- content_for :edit_form_controls do
  .col-md-9
    .form-group
      %label.col-md-2.control-label{:for => "username"} 名称
      .col-md-10
        %input#username.form-control{"ng-model" => "itemModel.username", :type => "text", :placeholder => "名称", :maxlength => "20", :required => true, :unique => true}
    .form-group
      %label.col-md-2.control-label{:for => "passowrd"} 密码 
      .col-md-10
        %input#password.form-control{"ng-model" => "itemModel.password", :type => "password", :placeholder => "密码", :maxlength => "20", :required => true}
  .col-md-3
    %img#avatar{:width => '150px', :height => '150px'}

- content_for :scripts do
  %script{:src => "/assets/admin/geopattern.min.js"}

