- content_for :list_toolbar do
  = render "admin/shared/toolbar_normal"

- content_for :list_thead do
  %th.text-center 名称
  
- content_for :list_tbody do
  %td{"ng-bind" => "item.name"}

- content_for :list_buttons do
  = render "admin/shared/btn_edit"
  = render "admin/shared/btn_delete"

- content_for :edit_form_controls do
  .form-group
    %label.col-md-2.control-label{:for => "name"} 名称
    .col-md-10
      %input#name.form-control{"ng-model" => "itemModel.name", :type => "text", :placeholder => "名称", :maxlength => "20", :required => true}
