%table.table.table-striped.table-hover.table-bordered.mt20
  %thead
    %tr
      %th.text-center
        %input#controllerName{:type => "hidden", :value => "{{controller}}"}
        %input#primaryKey{:type => "hidden", :value => "{{primaryKey}}"}
        %input{:type => "checkbox"}
      -# 表头
      = yield :list_thead
      %th.text-center 操作
  %tbody#list
    %tr{"ng-repeat" => "item in list.data"}
      %td{:width => "2%"}
        %input{:type => "hidden", :value => "{{item.id}}"}
        %input{:type => "checkbox", "ng-model" => "item.$$checked", "ng-change" => "onSelect(item)"}
      -# 表体
      = yield :list_tbody
      %td.text-center
        -# 操作按钮
        = yield :list_buttons

%pagination{:read => 'read(c, m, params)', :count => "{{paginator.count}}", :page => "{{paginator.page}}", "per-page" => "{{paginator.perPage}}", "last-page" => "{{paginator.lastPage}}", :keyword => "{{list.keyword}}"}

.text-center{"ng-if" => "list.data.length == 0"}
  %code 没有数据
