%input.form-control{:type => "text", :name => "q", :placeholder => "请输入搜索关键字", "ng-model" => "list.keyword", "ng-keyup" => "$event.keyCode === 13 && search(list.keyword);"}
%span.input-group-btn
  = render "admin/shared/btn_search"
